<!-- <section class="py-5">
  <gifs-list [gifs]="gifService.trendingGifs()"/>
</section> -->

<div class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4 p-5"
  (scroll)="onScroll($event)"
  #GroupDiv
>
  @for (group of gifService.trendingGifsGroup(); track $index) {
    <div class="grid gap-4">
      @for (gif of group; track $index) {
        <div>
            <img
            class="h-auto max-w-full rounded-base object-contain"
            [src]="gif.url"
            [alt]="gif.title">
        </div>
      }
    </div>
  }
</div>
